*.txt
*.csv
*.json

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# repos
repos/
repos_with_branches/
repos_all/
repo_cleansing/

# password
password.py